.container {
  width: 70%;
  margin: 0 auto;
}

.main {
  min-height: calc(100vh - 95px);

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.texts_area h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 3.661875rem;
  text-align: center;
  margin-top: 5rem;
}

.texts_area {
  max-width: 1065px;
}

.undraw_area {
  margin-top: 110px;
}

.texts_area p {
  font-size: 2.5rem;
  line-height: 2.93rem;
  text-align: center;
  font-weight: 400;
  margin-top: 32px;
}

.span_text_area {
  color: #04dd75;
}

.suporters_area p b {
  font-size: 1.5625rem;
}

.suporters_area .suporters_image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-bottom: 17px;
}

.suporters_image img {
  border-radius: 50%;
  /* border: 0 solid #000; */
}

@media only screen and (max-width: 767px) {
  .container {
    width: 85%;
  }

  .undraw_area {
    margin-top: 20px;
  }

  .undraw_area img {
    width: 100%;
  }
}
